# ============================
# Python cache
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*logs
# ============================
# VSCode / PyCharm
# ============================
.vscode/
.idea/

# ============================
# Logs and checkpoints
# ============================
train_logs/
*.ckpt
*.log
*.out
events.out.tfevents.*

# ============================
# NuPlan / Waymo data
# ============================
data/
data_nuplan/
data_waymo/
*.npz
*.pkl
*.tfrecord

# ============================
# Temporary / cache files
# ============================
*.cache
.cache/
output/
outputs/
results/
runs/

# ============================
# Environment files
# ============================
.env
*.swp

# ============================
# OS generated
# ============================
.DS_Store
Thumbs.db
